<div class="container">
    <div class="row"> 
      <div class="col-12">
          <div class="swiper-container test-css" [swiper]="config" [(index)]="index">
            <div class="swiper-wrapper">
              <div *ngFor="let noticia of noticias" class="swiper-slide">
                <div class="swiper-image">
                  <img src="{{ noticia.urlToImage }}" alt="image">
                  <hr/>
                </div>
                <div class="swiper-cap">
                    <h2>{{ noticia.title }}</h2>
                    <p>{{ noticia.author }}</p>
                </div>
                <a (click)="verNoticia(noticia)" class="absolute-link"></a>
              </div>
            </div>
            <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
          </div>
      </div>
    </div>
  </div>